*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #08c0dd;
  --secondary-color: #262431;
  --tertiary-color: #2f2c3d;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  background: var(--secondary-color);
  color: #fff;
  line-height: 1.6;
  scroll-behavior: smooth;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.navbar {
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.navbar__container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo img {
  width: 112px;
  height: 36px;
}

.navbar__menu-list {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navbar__menu-link:hover {
  color: var(--primary-color);
}

.navbar__menu-list i:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.navbar__mobile-menu-link:hover {
  color: var(--primary-color);
}

.navbar__mobile-menu-list i:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.navbar__mobile-menu {
  display: none;
}

.navbar__mobile-menu-toggle {
  cursor: pointer;
}

.navbar__mobile-menu-toggle:hover {
  color: var(--primary-color);
}

.navbar__mobile-menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--secondary-color);
  opacity: 0.95;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease-in-out;
}

.navbar__mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}

.navbar__mobile-menu-items {
  transform: translateX(100%);
}

.navbar__mobile-menu-items.active {
  transform: translateX(0);
}

/* Hero*/

.hero {
  background: #000 url("../images/header-background.jpg") center center/cover
    no-repeat;
  padding: 11.5rem;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.hero__content {
  max-width: 500px;
}

.hero__title {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
}

.hero__title--primary {
  color: var(--primary-color);
}

.hero__description {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.6;
}

.hero__image img {
  max-width: 500px;
}

.btn {
  padding: 0.5rem 2rem;
  background-color: var(--primary-color);
}



.hero__button i {
  margin-right: 8px;
}

.hero__buttons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

.hero__button {
  flex: 1;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  background-color: var(--primary-color);
  padding: 0.5rem 2rem;
  transition: background-color 0.3s;
}

.hero__button:hover {
  background-color: var(--secondary-color);
}

.navbar.navbar--scrolling {

}

@media (max-width: 992px) {
  .hero__container {
    flex-direction: column;
  }

  .hero__image img {
    max-width: 350px;
  }

  .hero__title {
    font-size: 1.5rem;
    text-align: center;
  }

  .hero__description {
    text-align: justify;
    font-size: 10px;
  }

  .hero__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .hero__button {
    width: 100%;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .navbar__menu {
    display: none;
  }

  .navbar__mobile-menu {
    display: block;
  }

  .hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero__image img {
    max-width: 250px;
  }
}
